<div class="flex logincontainer">
<div class="card mw-45 logincard">
  <div class="card-header">
    <h2 class="loginheader">Login</h2>
  </div>
 <div class="card-body loginbody">
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary loginbtn" type="submit">Login</button>
      </div>
    </form>
    </div>
  </div>
 


<div class="card mw-45 logincard">
  <div class="card-header">
    <h2 class="loginheader">Signup</h2>
  </div>
  <div class="card-body loginbody">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Create Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Enter Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Choose Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary signup" type="submit">Signup</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>